body {
    margin: 0px;
    height: auto;
}
header nav {
    display: flex;
    background-color: rgb(146, 193, 196);
}

header nav a {
    margin: 0;
    margin: 0;
    padding: 30px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

header nav a.active {
    color: white;
    background-color: rgb(2, 64, 66);
}

.overview-container {
    display: flex;
    height: auto;
}

.summary {
    background-color: rgb(167, 215, 218);
    height: auto;
    width: 25vw;
}

.general-table {
    width: 65vw;
    height: 100vh;
    padding: 100px;
}

footer {
    height: 50px;
    background-color: rgb(2, 64, 66);
    color: white;
}

.container-form-transactions {
    color: rgb(2, 64, 66);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container-form-transactions > p {
    color: rgb(2, 64, 66);
    font-size: 30px;
}

.form-data-selection {
    background-color: rgb(146, 193, 196);
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.form-data-selection > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-data-selection > form > input {
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

.form-data-selection > form > button {
    text-align: center;
    margin: 10px;
    padding: 13px;
    height: 40px;
    color: white;
    box-sizing: border-box;
    appearance: none;
    background-color: rgb(2, 64, 66);
    border: 1px solid rgb(2, 64, 66);
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn:hover,
.btn:focus {
    color: rgb(2, 64, 66);
    border: 4px solid rgb(176, 213, 216);
    outline: 0;
    box-shadow: 0 0 40px 40px rgb(134, 182, 185) inset;
}

.table {
    font-size: 50px;
}

.text-uppercase {
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(2, 64, 66);
}

/*  Year Dashboard */

.yearDash {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formYearSelection {
    background-color: rgb(146, 193, 196);
    height: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.formYearSelection > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.formYearSelection > form > input {
    height: 30px;
    border-radius: 10px;
    padding: 2px;
}

.formYearSelection > form > button {
    text-align: center;
    margin: 10px;
    padding: 13px;
    height: 40px;
    color: white;
    box-sizing: border-box;
    appearance: none;
    background-color: rgb(2, 64, 66);
    border: 1px solid rgb(2, 64, 66);
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.YearCapital {
    height: 30vh;
    background-color: aliceblue;
    width: 100%;
    margin-top: 20px;
}

.YearPlots {
    min-height: 50vh;
    background-color: rgb(158, 188, 214);
    width: 100%;
    margin-top: 10px;
}
